@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.areas-atendimento {
  padding: 60px 5%;
}

.areas-atendimento h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  color: #111;
  font-family: 'Roboto', sans-serif;
}

.areas-atendimento p {
  margin-bottom: 50px;
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}


.areas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.area-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.area-card h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.area-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.area-card ul li {
  margin-bottom: 8px;
  color: #444;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.btn-area {
  text-decoration: none;
  background: #e53935;
  color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

.btn-area:hover {
  background: #c62828;
}

/* Responsividade */
@media (max-width: 768px) {

  .areas-atendimento {
    padding: 40px 6%;
  }

  .areas-atendimento h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  .areas-atendimento p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 35px;
  }

  .areas-grid {
    gap: 18px;
  }

  .area-card {
    padding: 20px;
    border-radius: 14px;
  }

  .area-card h3 {
    font-size: 18px;
  }

  .area-card ul li {
    font-size: 15px;
  }

  .btn-area {
    padding: 14px;
    font-size: 15px;
  }
}